

.icon{
display: flex;
align-items: center;
position: relative;
justify-content: flex-end;
  
}

.iconEyes{
  position: absolute;
  margin-right: 10px;
}

.btn-login{
  position: absolute;
  top: 15%;
  left: 90%;
  cursor: pointer;
  border: 0;
  border-radius: 2px;
  font-weight: 700;
  margin: 0 10px;
  width: 100px;
  height: 55px;
  padding: 5px 0;
  box-shadow: 0 0 10px rgba(0, 51, 102);
  transition: 0.2s;
}
