.hero-image {
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: blue;
  color: white;
}
.modal-header,
h4,
.close {
  background-color: #5cb85c;
  color: white !important;
  text-align: center;
  font-size: 30px;
}

.img {
  width: 100%;
  height: 50%;
}
.fixarRodape {
  width: 100%;
  height: 120px;
  margin-top: 500px;
  background: rgb(0, 51, 102);
  position: relative;
}
.social {
  width: 100%;
  padding-top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyright {
  position: relative;
  bottom: 1px;
  width: 100%;
  text-align: center;
  color: white;
}

.hero-image-buy {
  height: 40%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-text-buy {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(0, 51, 102);
}
.img-buy-house {
  width: 40%;
  height: 20%;
}

.hero-image-rent {
  width: 60%;
}

.hero-text-rent {
  text-align: center;
  position: absolute;
  top: 30%;
  left: 80%;
  transform: translate(-50%, -50%);
  color: rgb(0, 51, 102);
}
.form-control-nav {
  position: absolute;
  top: 50%;
 width: 100%;
}
.textAd{
  text-align: center;
  color: rgb(0, 51, 102);
  padding: 20px;
  
}
